# Terraform
**/.terraform/*
!.terraform.lock.hcl

*.tfstate
*.tfstate.*
crash.log
terraform.tfplan

# Sensitive variables
*.tfvars.json

# IDE
.vscode/

# macOS
.DS_Store

terraform/kijanikiosk-key.pem

